<%= form_for(@url, remote: true) do |f| %>
  <%= render '/shared/error_messages', object: @url %>
  <%= f.text_field :target_url %>

  <button type="submit">
    <%= f.submit "Create" %>
  </button>
<% end %>
