<!-- TODO: pull this into a partial -->
<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="form">
  <%= form_for(@url) do |f| %>
    <div id="search-field">
      <%= f.text_field :target_url %>
    </div>

    <button type="submit">
      <%= f.submit "Create" %>
    </button>
  <% end %>
</div>
