/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Patrick Hand SC', helvetica;
  background-color: #F1F1F1;
  text-align: center;
}

header {
  margin-top: 13%;
  font-size: 6em;
  color: #00FF00;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.container {
}

footer {
  /*Leaving this out for now*/
  display: none;
}

.error ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: red;
}

/* Put in urs.css.scss */

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  padding: 0px 2px;
  border: 1px solid black;
  text-decoration: none;
  color: green;
}

.fade_in {
  display: none;
}

#create-button {
}

#search-field {
  /*position: absolute;*/
  /*display: block;*/
  /*text-align: center;*/
  /*width: 20px;*/
}
