<!DOCTYPE html>
<html>

<head>
  <title>Lemming URL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'> -->
</head>
<body>

<header>
  Lemming URL
</header>

<div class="container">
  <%= yield %>
</div>

<footer>
  David Wu
</footer>

</body>
</html>
